<form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
  <app-input
    label="Nombre"
    [control]="$any(clienteForm.controls['nombre'])"
  ></app-input>
  <app-input
    label="Apellido"
    [control]="$any(clienteForm.controls['apellido'])"
  ></app-input>
  <app-input
    label="Dirección"
    [control]="$any(clienteForm.controls['direccion'])"
  ></app-input>
  <app-input
    label="Fecha de Nacimiento"
    controlType="date"
    [control]="$any(clienteForm.controls['fechaNacimiento'])"
  ></app-input>
  <app-input
    label="Teléfono"
    [control]="$any(clienteForm.controls['telefono'])"
  ></app-input>
  <app-input
    label="País"
    [control]="$any(clienteForm.controls['pais'])"
  ></app-input>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary">Guardar</button>
  </div>
</form>
