<div class="mb-3">
  <label class="form-label">{{ label }}</label>

  <input class="form-control" *ngIf="controlType === 'input'" placeholder="{{placeholder}}" [formControl]="control"/>
  <textarea class="form-control" *ngIf="controlType === 'textarea'" [formControl]="control"
            placeholder="{{placeholder}}"></textarea>
  <input class="form-control" *ngIf="controlType === 'date'" type="date" [formControl]="control"
         placeholder="{{placeholder}}"/>

  <!-- Validations -->
  <div *ngIf="showErrors()" class="form-text text-danger">
    <ng-container *ngIf="control.errors as errors">
      <p *ngIf="errors['required']">Value is required</p>
      <p *ngIf="errors['email']">Enter a valid email</p>
      <p *ngIf="errors['minlength']">
        Value entered is {{ errors['minlength']?.actualLength }} characters long, but it must be at
        least {{ errors['minlength']?.requiredLength }} characters.
      </p>
      <p *ngIf="errors['maxlength']">
        Value entered is {{ errors['maxlength']?.actualLength }} characters long, but it cannot be longer
        than {{ errors['maxlength']?.requiredLength }} characters.
      </p>
      <p *ngIf="errors['pattern']">Invalid Format</p>
      <p *ngIf="errors['nonUniqueUsername']">Username is taken</p>
      <p *ngIf="errors['noConnection']">Can't tell if username is taken</p>
    </ng-container>
  </div>
</div>
