<div class="container-fluid p-4">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-start mb-4">
        <h2 class="text-primary mb-0">{{ cliente.nombre }} {{ cliente.apellido }}</h2>
        <div class="d-flex justify-content-end">
          <a routerLink="/gestor" class="btn btn-secondary me-2">Volver a la lista</a>
          <app-edit-cliente [cliente]="cliente"></app-edit-cliente>
          <app-delete-cliente [cliente]="cliente"></app-delete-cliente>
        </div>
      </div>
      <div class="p-0">
      <app-detail-item label="Dirección" [value]="cliente.direccion"></app-detail-item>
      <app-detail-item label="Fecha de Nacimiento"
                       [value]="cliente.fechaNacimiento | date: 'dd/MM/yyyy'"></app-detail-item>
      <app-detail-item label="Teléfono" [value]="cliente.telefono"></app-detail-item>
      <app-detail-item label="País" [value]="cliente.pais"></app-detail-item>
        </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-12 p-0">
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="text-primary mb-4">Pólizas</h3>
          <app-create-poliza></app-create-poliza>
        </div>
        <div class="list-group">
          <a *ngFor="let poliza of polizas"
             [routerLink]="['/gestor', clienteId, 'poliza', poliza.id]"
             class="list-group-item d-flex justify-content-between align-items-center border rounded-3 mb-2 text-decoration-none">
            <div>
              <h6 class="mb-1">{{ poliza.nombreRamo + ' | ' + poliza.nombreCompania }}</h6>
            </div>
            <span class="btn btn-primary btn-sm rounded-3">Ver detalles</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
