<div class="container-fluid p-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="bg-white border border-light rounded-3 shadow-sm p-4">
        <div class="d-flex justify-content-between mb-4">
          <h2 class="text-primary mb-0">{{ cliente.nombre }} {{ cliente.apellido }}</h2>
          <div>
            <a routerLink="/gestor" class="btn btn-secondary me-2">Volver a la lista</a>
            <app-edit-cliente [cliente]="cliente"></app-edit-cliente>
            <app-delete-cliente [cliente]="cliente"></app-delete-cliente>
          </div>
        </div>
        <app-detail-item label="Dirección" [value]="cliente.direccion"></app-detail-item>
        <app-detail-item label="Fecha de Nacimiento"
                         [value]="cliente.fechaNacimiento | date: 'dd/MM/yyyy'"></app-detail-item>
        <app-detail-item label="Teléfono" [value]="cliente.telefono"></app-detail-item>
        <app-detail-item label="País" [value]="cliente.pais"></app-detail-item>
      </div>
    </div>
  </div>
</div>
